
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation Failure</title>
</head>
<body>
    <div>
        Sorry, you have not been authenticated, This may be casue the token is expired or already used to activate the account. 
        <br /> please register again.
    </div>
</body>
</html>
