
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register confirmation</title>
</head>
<body>
    <div>
        Thank you for registering with us, Check your inbox for a verification e-mail sent by us. Please follow the steps given to confirm youor e-mail id and complete the registration process.
    </div>
</body>
</html>
