@model CloudComDevs.ShoppingCartDemo.Web.Models.Order

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

</fieldset>

