@model CloudComDevs.ShoppingCartDemo.Web.Models.EmailModel

@{
    ViewBag.Title = "EMailConfirmation";
   
}

To: @Model.To
From: postal@example.com
Subject: @Model.Subject



<html>
    <head></head>
    <body>
      <h3>  Hello,  </h3>
<p>@Html.Raw(@Model.Message) </p>
<p>Thanks!</p>
    </body>    
</html>
